body {
	background: rgb(191, 215, 252);
}

.head {
	position: absolute;
	top: 16.5%;
	left: 25%;
	width: 50%;
	height: 67%;
	background: #A6BECF;
	border-radius: 50%;
}

/*.hangman-letter {
	margin: 0 .2rem !important;
}*/

#guess-area,
#remaining-letters {
	letter-spacing: .5rem;
}